<!doctype html>
<html
<%=
    (htmlWebpackPlugin.options.url === '/shell' || !htmlWebpackPlugin.options.config.production)
    ? '' : '⚡'
%>
 lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
        <% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
            <meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
        <% } %>
        <% for (var chunk of webpack.chunks) { %>
         <% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
            <% for (var file of chunk.files) { %>
                <% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
                    <link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
                <% } else if (file.match(/manifest\.json$/)) { %>
                    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
                <% } %>
            <% } %>
        <% } %>
        <style amp-custom>
            @font-face {
                font-family: "Mark Simonson - Proxima Nova Regular";
                src: url('/assets/fonts/ProximaNova/mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
                     url('/assets/fonts/ProximaNova/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'); /* Pretty Modern Browsers */
            }
        </style>
        <script type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Article headline",
            "image": [
                "thumbnail1.jpg"
            ],
            "datePublished": "2015-02-05T08:00:00+08:00",
            "htmlWebpackPlugin.options.url": "<%= htmlWebpackPlugin.options.url %>",
            "htmlWebpackPlugin.options.config['_']": "<%= htmlWebpackPlugin.options.config['_'] %>",
            }
        </script>
        <!-- Disable AMP InVisible -->
        <%if (htmlWebpackPlugin.options.url !== '/shell' && htmlWebpackPlugin.options.config.production) { %>
            <script id="start-amp-scripts" type="application/ld+json"></script>
            <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-mo z-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
            <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
            <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
            <script async src="https://cdn.ampproject.org/v0.js"></script>
            <script id="end-amp-scripts" type="application/ld+json"></script>
        <% } %>
    </head>
    <body>
        <%= htmlWebpackPlugin.options.ssr({
            url: '/'
        }) %>
        <script id="end-amp-content" type="application/ld+json"></script>
        <%if (htmlWebpackPlugin.options.url === '/shell' || !htmlWebpackPlugin.options.config.production) { %>
            <script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
            <script>window.fetch||document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')</script>
        <% } %>
        <!--
        <%= htmlWebpackPlugin.options.url %>
        <%= JSON.stringify(htmlWebpackPlugin.options.config, null, 2) %>
        -->
        <amp-install-serviceworker src="/sw.js"
            data-iframe-src="https://amp.dev/sw.html"
            layout="nodisplay"
            data-no-service-worker-fallback-url-match=".*"
            data-no-service-worker-fallback-shell-url="/shell/index.html">
        </amp-install-serviceworker>
    </body>
</html>
